@font-face {
  font-family: "ethiopic_dire_dawaregular";
  src: url("/Font/dire_dawa-webfont.woff2") format("woff2");
  src: url("/Font/dire_dawa-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: linear-gradient(to left, #4e2ce6, #e63ac0);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main0 {
  height: 96%;
  width: 90%;
  display: grid;
  grid-template-areas: "side head head" "side main main" "side send send";
  grid-template-rows: 1fr 6fr 0.5fr;
}

.head {
  grid-area: head;
  border-top-right-radius: 15px;
  background-color: #000;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid rgba(78, 205, 255, 0.993);
}

.side {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  grid-area: side;
  min-width: 100px;
}

.main1 {
  background-color: rgba(255, 255, 255, 0.3294117647);
  grid-area: main;
  overflow-y: auto;
}

.send {
  background-color: rgb(0, 0, 0);
  grid-area: send;
  display: flex;
  border-top: 2px solid black;
  height: 40px;
}

.proprv {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  height: 130px;
  border-bottom: 1px solid #fff;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.proprv:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.proprv img, .suggest .sugp img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.newchat {
  border-top-left-radius: 15px;
  height: 70px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .main0 {
    display: block;
    height: 100%;
    width: 100%;
  }
  .newchat {
    border-top: 1px solid #fff;
    border-top-left-radius: 0;
  }
  .side {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  .send {
    display: none;
  }
  .head {
    display: none;
  }
  .main1 {
    display: none;
  }
  .proprv {
    border-radius: 0;
    border-top: 2px solid #fff;
  }
}
.mes {
  text-align: center;
  height: 100%;
  width: 95%;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "ethiopic_dire_dawaregular";
}

.sendb {
  height: 100%;
  width: 5%;
  border: none;
  color: #0000ff;
}

.sendb:hover {
  background-color: #0000ff;
  color: white;
}

.pp {
  border-radius: 100%;
  margin-left: 50px;
  height: 70px;
  width: 70px;
}

.delete {
  margin-right: 25px;
  border-radius: 50%;
  padding: 12px 12px;
  background-color: #fff;
  color: red;
  font-size: 30px;
  align-self: center;
  margin-right: 25px;
  cursor: pointer;
  outline: none;
  border: 0px;
  font-weight: 500;
}

.delete:hover {
  color: #fff;
  background-color: #f00;
}

.pname {
  font-size: 2rem;
  color: #fff;
  font-family: "ethiopic_dire_dawaregular";
}

.senrec {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  justify-content: flex-start;
}

.senrecr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
}

.sent {
  float: left;
  margin: 20px;
  padding: 10px 40px;
  background: #444;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.received {
  float: right;
  margin: 20px;
  padding: 10px 40px;
  background: #00F;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.newchat button {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
}

.newchat button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  bottom: 4;
  right: 4;
  position: absolute;
}

.modal-head {
  border-bottom: 1px solid #000 !important;
}

.suggest {
  width: 100%;
  height: calc(100% - 63px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sugd {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.suggest .sugp {
  margin: 10px;
  background-color: #000;
  width: 200px;
  height: 250px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition-duration: 2s;
}

.suggest .sugp:hover {
  background-color: #555;
}

.suggest .sugp img {
  margin: 20px;
}

.suggest .sugp p {
  font-size: 23px;
}

.suggest .sugp h3 {
  font-family: "ethiopic_dire_dawaregular";
  font-size: 30px;
}

@media screen and (max-width: 1116px) {
  .suggest {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 492px) {
  .suggest {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=chatstyle.css.map */